@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 18% 17%;

    --card: 0 0% 100%;
    --card-foreground: 210 18% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 18% 17%;

    --primary: 93 46% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 93 46% 40%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 93 46% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 18% 17%;
    --foreground: 210 50% 95%;

    --card: 210 18% 17%;
    --card-foreground: 0 0% 98%;

    --popover: 210 18% 17%;
    --popover-foreground: 0 0% 98%;

    --primary: 93 46% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 93 46% 40%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 93 46% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

